span:before, span:after {
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    margin: auto 0.em;
    color: lightgrey;
  }
.instagram{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 65px;
    left:400px;
   
   

}
.image1{
    float: left;
    width: 41%;
    padding-right: 40px;
    
}
form{
width: 65%;
padding: 1px;


}
input[type=submit]{
    background-color:#1877F2;
    color:white;
    border: none;
    border-radius: 8px;
    width: 250px;
    height: 31px;
    font-size: 15px;
}
input{
    width: 250px;
    background-color:whitesmoke;
    height: 31px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #EEEEFF;
    border-collapse: collapse;
}
.last{
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    padding: 10px;
    
}
fieldset{
border-color: whitesmoke ;


}
a:link{
    text-decoration:none;
    color:#2851A3;
    font-size: 13px;
}
.lang{
border: none;
color: grey;
background-color: white;
}
img{
    border-radius: 5px ;
}
